.message-template-page {
  padding: 20px;

  > .top-btn-container{
    text-align: left;
  }

  table {
    width: 100%;
    margin: 20px 0;
  }
  .SmallButtons {
    font-size: 12px;
  }
  .center {
    text-align: center;
  }
}


