<h2 matDialogTitle>{{localdata.action}} {{localdata.type}}</h2>


  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <mat-dialog-content>
    <div *ngIf="localdata.type === 'Campaign'">
      <mat-form-field color="warn" *ngIf="localdata.action !== 'Delete'; else elseTemplate">
        <input matInput placeholder="Campaign Name" [(ngModel)]="localdata.name" formControlName="name" required>
        <mat-error *ngIf="hasError('name', 'required')">Campaign name is required</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="localdata.type === 'Message'">
      <div *ngIf="localdata.action !== 'Delete'; else elseTemplate">
        <mat-form-field color="warn">
          <mat-label>Campaign Name</mat-label>
          <mat-select required [(ngModel)]="localdata.campaign_id" formControlName="campaign_id" required>
            <mat-option *ngFor="let detail of localdata.campaignList"  [value]="detail.id">{{detail.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('campaign_id', 'required')">Campaign Name is Required</mat-error>
        </mat-form-field>
        <mat-form-field color="warn">
          <input matInput placeholder="Template Name" required [(ngModel)]="localdata.name" formControlName="name" required>
          <mat-error  *ngIf="hasError('name', 'required')">Template Name is Required</mat-error>
        </mat-form-field>
        <mat-form-field color="warn">
          <textarea matInput 
                    cdkTextareaAutosize 
                    cdkAutosizeMinRows="2" 
                    cdkAutosizeMaxRows="10" 
                    #autosize="cdkTextareaAutosize" 
                    placeholder="Template Body" 
                    [(ngModel)]="localdata.message_body" 
                    formControlName="message_body" 
                    required></textarea>
          <mat-error  *ngIf="hasError('message_body', 'required')">Template Body is Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <ng-template #elseTemplate>
      Are you sure you want to delete <b>{{localdata.Name}}</b> {{localdata.type}}?
    </ng-template>


  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button color="warn">{{localdata.action}}</button>
    <button mat-raised-button color="warn" matDialogClose>Close</button>
  </mat-dialog-actions>
  </form>



