<h2 matDialogTitle>Add Message</h2>
<mat-dialog-content>
<form [formGroup]="form" (ngSubmit)="form.valid && submit()" novalidate>
  <mat-form-field color="warn" *ngIf="action != 'Delete'; else elseTemplate1" >
        <mat-label>Campaign Name</mat-label>
        <mat-select required [(ngModel)]="localdata.campaignName" [ngModelOptions]="{standalone: true}">
          <mat-option value="Campaign1">Campaign1</mat-option>
          <mat-option value="Campaign2">Campaign2</mat-option>
          <mat-option value="Campaign3">Campaign3</mat-option>
        </mat-select>
        <mat-error >Campaign Name is Required</mat-error>
  </mat-form-field>
  <ng-template #elseTemplate1>

    </ng-template>
  <mat-form-field color="warn" *ngIf="action != 'Delete'; else elseTemplate2" >
    <input matInput placeholder="Template Name" required [(ngModel)]="localdata.name" [ngModelOptions]="{standalone: true}">
    <mat-error >Template Name is Required</mat-error>
  </mat-form-field>
  <ng-template #elseTemplate2>
      Sure to delete <b>{{localdata.name}}</b>?
    </ng-template>
  <mat-form-field color="warn" *ngIf="action != 'Delete'; else elseTemplate3"  >
    <textarea matInput placeholder="Template Body" required [(ngModel)]="localdata.body" [ngModelOptions]="{standalone: true}"></textarea>
    <mat-error >Template Body is Required</mat-error>
  </mat-form-field>
  <ng-template #elseTemplate3>

    </ng-template>
</form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button matDialogClose>Close</button>
</mat-dialog-actions>
